################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/ReadContents
*.json
/ReadContents/obj/Debug/*
/ReadContents/obj/Debug/ReadContents.csproj.GenerateResource.cache
